@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.big_btn_check {
    background-color: white;
    color: black;
    border: .1px solid #747474;
    font-size: 60px;
}

.boxes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 12px;
    background-color: white;
    border: 2px solid #00000099;
    transition: 1s ease all;
    cursor: pointer;
    animation: topDown 3s ease infinite;
    margin: 10px;
}

.box_h2 {
    font-size: 16px;
    border-color: black;
    width: 160px;
    text-align: center;
    font-weight: 400;
    overflow-wrap: break-word;
}

.box_h1 {
    font-size: 18px;
    border-color: black;
    text-align: center;
    font-weight: 400;
}

.box:hover {
    box-shadow: -5px 10px 6px 2px #a7e9f9;
    border-color: #a7e9f9;
}

.btn_plus {
    background-color: white;
    color: black;
    border: .1px solid #747474;
    font-size: 30px;
}

.btn_plus:active {
    transform: scale(.97);
}

.frm {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.inp {
    padding: 8px;
    border: .3px solid black;
    outline: none;
}
.btn_check {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    margin-left: 10px;
}

.random {
    margin-top: 20px;
    display: none;
    padding: 8px 10px;
    border: none;
    border-radius: 12%;
}

.frm_anim {
    animation: frmTopDown 2s ease both;
}

@keyframes topDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-14px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes frmTopDown {
    0% {
        transform-origin: top;
        transform: rotateX(90deg);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}